<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= typeof pageTitle !== 'undefined' ?
 pageTitle : 'Admin' %> - Planalto Paranaense</title>
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">

    <script src="https://cdn.tiny.cloud/1/9v15cj13r5kp0agr52lzu4g0k4m23hn0unni608ws42nnqj9/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>

    <header>
        <h1>Planalto Paranaense - Administração</h1>
    </header>