<%- include('partials/header') %>

    <main class="container">
        
        <div style="text-align: center; padding: 50px 0; min-height: 40vh;">
            <h1 style="font-size: 2.5em; margin-bottom: 20px;">Erro 404</h1>
            <h2>Página Não Encontrada</h2>
            
            <p style="font-size: 1.1em; margin-top: 15px;">Desculpe, o recurso que procurou não foi encontrado no nosso servidor.</p>
            
            <a href="/" class="back-link" style="text-align: center; display: inline-block; margin-top: 20px;">
                &larr; Voltar para a página inicial
            </a>
        </div>

    </main>

<%- include('partials/footer') %>