# Instrução para o Nginx servir a pasta /css
location /css/ {
    # 'alias' diz ao Nginx o caminho exato no servidor
    # /var/app/current/ é onde o seu projeto fica
    alias /var/app/current/public/css/;
}

# Instrução para o Nginx servir a pasta /images
location /images/ {
    alias /var/app/current/public/images/;
}